html, body {
	margin: 0;
	height: 100%;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #333;
}
* {
  box-sizing: border-box;
}
input, button {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

.fourth {
	display: inline-block;
	width: 50%;
	padding: 3% 6%;
	vertical-align: top;
}
.fourth.indicators, .fourth.simulations {
	width: 100%;
}.fourth.simulations {
	min-height: 61.8vh;
}
@media (max-width: 700px) {
	.fourth {
		width: 100%;
		height: auto;
		min-height: 50%;
	}
}

.fourth.input>div {
	margin: 20px 0;
}

.fourth.indicators input[type="range"] {
	width: 100%;
}
.indicators-wrap {
	display: table;
	width: 100%;
}
.indicator .col {
	display: table-cell;
	text-align: center;
}
.indicators div {
	display: inline-block;
	width: 33%;
	padding: 15px;
}
#stock {
	text-transform: uppercase;
}

.result {
	font-weight: 700;
}

.layer {
	margin: 20px 0;
}
.layer p {
	display: inline-block;
}

table {
	width: 100%;
	margin-bottom: 40px;
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	text-align: center;
}

.timepicker {
	padding-bottom: 30px;
}
.simulations .timepicker td {
	padding: 0;
}
.simulations .timepicker a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	border: 1px solid #ccc;
}
.simulations .timepicker a:hover, .timepicker .picked {
	background-color: #333;
	color: #fff;
}
.chart-wrap {
	height: 400px;
	width: 100%;
}
.transactions {

}


