html, body {
	margin: 0;
	height: 100%;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #333;
}
* {
  box-sizing: border-box;
}
input, button {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

.fourth {
	display: inline-block;
	width: 50%;
	height: 50%;
	padding: 3% 6%;
	vertical-align: top;
	border: 1px solid #ccc;
}
.fourth.indicators, .fourth.simulations {
	min-height: 61.8vh;
}
@media (max-width: 700px) {
	.fourth {
		width: 100%;
		height: auto;
		min-height: 50%;
	}
}

.fourth.input>div {
	margin: 20px 0;
}

.fourth.indicators input[type="range"] {
	width: 100%;
}
.indicators-wrap {
	display: table;
	width: 100%;
}
.indicator .col {
	display: table-cell;
	text-align: center;
}

.result {
	font-weight: 700;
}

.layer {
	margin: 20px 0;
}
.layer p {
	display: inline-block;
}

table {
	width: 100%;
	border-collapse: collapse;
}
td {
	text-align: center;
}